name: Secure CI/CD Pipeline

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-test:

    runs-on: ubuntu-latest

    steps:
    # 1. سحب الكود من الريبو
    - uses: actions/checkout@v3

    # 2. تثبيت Python
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: 3.11

    # 3. تثبيت dependencies + أدوات الأمان
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install bandit safety

    # 4. تشغيل Unit Tests
    - name: Run Unit Tests
      run: |
        python -m unittest discover -s tests

    # 5. SAST: تحليل الأمان للكود
    - name: Run Bandit (SAST)
      run: |
        bandit -r . -ll

    # 6. SCA: فحص المكتبات
    - name: Check Dependencies (SCA)
      run: |
        safety check
